body {
  text-align: center;
  width: 100wh;
  height: 90vh;
}

img {
  border-radius: 280px;
  width: 140px;
}

h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

a {
  background: #232323;
  padding: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 700px;
  color: white;
  font-family: "Montserrat";
  font-size: 17px;
  border: 2px solid #232323;
  display: inline-block;
  transition: 0.25s;
}

a:hover {
  background: white;
  color: #232323;
}

.linktree {
  margin: 15px;
  display: flexbox;
}
